parameters:
    level: 9
    paths:
        - app/
    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - app/DTOs/Google/SubscriptionFactory.php
    reportUnmatchedIgnoredErrors: false